@import '../main/main.scss';

.home-container {
    width: 100%;
    height: 100%;
    margin: auto;
    max-width: $res-max-width;
    background: $main-background;
    .home-tit-container {
        padding: 0.5rem;
        .home-tit {
            text-align: center;
        }
        .home-tit-logo {
            padding: 2rem 3rem;
            text-align: center;
            img {
                border-radius: 0.3rem;
            }
        }
    }
}